<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ankieta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container p-5">
    <div class="stepwizard col-offset-3 mx-auto mb-5">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a type="button" class="btn btn-outline-primary btn-circle">1</a>

            </div>
            <div class="stepwizard-step">
                <a type="button" class="btn btn-default btn-circle" >2</a>

            </div>
            <div class="stepwizard-step">
                <a type="button" class="btn btn-default btn-circle">3</a>

            </div>
        </div>
    </div>
    <h4 class="fw-bold text-center mb-5">Pytania ogólne</h4>
    <form class="bg-white px-4" th:action="@{/page}" method="post" th:object="${user}">
        <p class="fw-bold">Płeć</p>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="male-btn" value="male" th:field="*{sex}"/>
            <label class="form-check-label" for="male-btn"> Mężczyzna </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="female-btn" value="female" th:field="*{sex}"/>
            <label class="form-check-label" for="female-btn"> Kobieta </label>
        </div>

        <div class="form-outline mb-5 mt-5 has-validation">
            <label for="age" class="form-label fw-bold"> Wiek </label>
            <input th:field="*{age}" type="number" id="age" class="form-control" name="age" />
            <div id="age-error" class="invalid-feedback">
                Niepoprawna wartość
            </div>
        </div>

        <div class="form-outline mb-5 mt-5">
            <label for="weight" class="form-label fw-bold">Waga (kg)</label>
            <input th:field="*{weight}" type="number" id="weight" class="form-control" name="weight" />
            <div id="weight-error" class="invalid-feedback">
                Niepoprawna wartość
            </div>
        </div>

        <div class="form-outline mb-5 mt-5">
            <label for="height" class="form-label fw-bold">Wzrost (cm)</label>
            <input th:field="*{height}" type="number" id="height" class="form-control" name="height" />
            <div id="height-error" class="invalid-feedback">
                Niepoprawna wartość
            </div>
        </div>

        <p class="fw-bold">Grupa krwi</p>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="idk-btn" value="null" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="idk-btn"> Nie znam </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="a-plus-btn" value="A+" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="a-plus-btn"> A+ </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="a-minus-btn" value="A-" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="a-minus-btn"> A- </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="b-plus-btn" value="B+" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="b-plus-btn"> B+ </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="b-minus-btn" value="B-" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="b-minus-btn"> B- </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="ab-plus-btn" value="AB+" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="ab-plus-btn"> AB+ </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="ab-minus-btn" value="AB-" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="ab-minus-btn"> AB- </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="0-plus-btn" value="0+" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="0-plus-btn"> 0+ </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="0-minus-btn" value="0-" th:field="*{bloodGroup}"/>
            <label class="form-check-label" for="0-minus-btn"> 0- </label>
        </div>

        <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-5">
            <button type="button" class="btn btn-outline-dark btn-lg" onclick="history.back()">Wróć</button>
            <button type="submit" class="btn btn-outline-primary btn-lg" id="submit">Dalej</button>
        </div>

    </form>

</div>

<script>
    const nextBtn = document.getElementById("submit");

    let ageErr = false;
    let weightErr = false;
    let heightErr = false;

    // get input elements
    const ageInput = document.getElementById("age");
    const ageError = document.getElementById("age-error");
    const weightInput = document.getElementById("weight");
    const weightError = document.getElementById("weight-error");
    const heightInput = document.getElementById("height");
    const heightError = document.getElementById("height-error");



    function validateAge() {
        const age = parseInt(ageInput.value);
        if (isNaN(age) || age <= 0 || age > 125) {
          ageInput.classList.add('is-invalid');
          ageErr = true;
          nextBtn.disabled = true;
        } else {
          ageInput.classList.remove('is-invalid');
          ageErr = false;
          if (!ageErr && !weightErr && !heightErr) {
            nextBtn.disabled = false;
          }
        }
    }

    function validateHeight() {
        const height = parseInt(heightInput.value);
        if (isNaN(height) || height <= 20 || height > 280) {
          heightInput.classList.add('is-invalid');
          heightErr = true;
          nextBtn.disabled = true;
        } else {
          heightInput.classList.remove('is-invalid');
          heightErr = false;
          if (!ageErr && !weightErr && !heightErr) {
            nextBtn.disabled = false;
          }
        }
    }

    function validateWeight() {
        const weight = parseInt(weightInput.value);
        if (isNaN(weight) || weight <= 0 || weight > 222) {
          weightInput.classList.add('is-invalid');
          weightErr = true;
          nextBtn.disabled = true;
        } else {
          weightInput.classList.remove('is-invalid');
          weightErr = false;
          if (!ageErr && !weightErr && !heightErr) {
            nextBtn.disabled = false;
          }
        }
    }

     ageInput.addEventListener('input', validateAge);
     heightInput.addEventListener('input', validateHeight);
     weightInput.addEventListener('input', validateWeight);

    </script>
</body>
</html>